@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

/* * {
    border: 2px solid red;
} */

/* header */
body {
    color: black;
    font-family: 'Roboto';
}

.header {
    background-color: #1f2937;
    color: white;
}

.header .container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding: 10px 0px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 20px;
}

li a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

/* hero one */

.hero-one {
    background-color: #1f2937;
    color: white;
}

.containerone {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

.container-left,
.container-right {
    margin: 100px 0px;
}

.container-left {
    width: 450px;
}
.container-right {
    width: 500px;
    background-color: grey;
}

.subheader {
    font-size: 48px;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
}

button {
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 5px 30px;
    margin-top: 10px;
}

/* hero two */

.containertwo {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.subheadertwo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.section {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-content: center;
    margin: 50px 0px 100px 0px;
}

.card {
    max-width: 180px;
}

.card img {
    height: 180px;
    width: 180px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

/* hero three */

.hero-three {
    background-color: #e5e7eb;
}

.containerthree {
    display: flex;
    flex-direction: column;
    max-width: 790px;
    margin: auto;
}

.inspiring-quote {
    font-size: 36px;
    font-weight: 300;
    margin-top: 100px;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
    font-weight: bold;
    padding-right: 40px;
}

/* hero four */

.containerfour {
    max-width: 1000px;
    margin: auto;
}

.bluecontainer {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 50px 100px;
    margin: 100px 0px;
}

.cta {
    color: white;
}

.cta-title {
    font-weight: bold;
}

.cta-text {
    font-size: 14px;
}

.containerfour button {
    border: 2px solid white;
    margin: 0px;
}

/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1f2937;
    color: white;
    padding: 40px 0px;
}
